.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.Contact-submit {
  text-align: center;
}

.User-message p {
  text-align: center;
}

.Contact-submit form {
  display: inline-block;
}

.Contact-submit p {
  display: table-row;
}

form {
  display: table;
}

label {
  display: table-cell;
  text-align: right;
}

input {
  display: table-cell;
}
